<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />

    <!-- Our CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='./assets/index.css') }}" />

    <!-- Fonts -->
    <link rel="shortcut icon" href="{{url_for('static', filename='./assets/logoSARAP.png') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap" rel="stylesheet">

    <!-- Card Animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Prompt' rel='stylesheet'/>
    <!-- Linking Div button function -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      $(function() {
          $('a[href*=\\#]:not([href=\\#])').on('click', function() {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.substr(1) +']');
              if (target.length) {
                  $('html,body').animate({
                      scrollTop: target.offset().top
                  }, 0);
                  return false;
              }
          });
      });
      </script>

    <title>Image Compressor</title>
  </head>

  <body>
    <div class="container" id = "container">
      <div class="logo">
        <img src="{{url_for('static', filename='./assets/logoSARAP.png') }}" alt="logo" width="165"/>
      </div>
      <nav style="margin: 1.3cm;">
        <a href="#about-us" id = "button-about-us">About Us</a>
      </nav>
    </div>


    <br><br>


    <h1 style="font-size: 5rem; font-weight: 900; color: #1b4d89;">
      SVD
    </h1>
    <h2 style="color: #1b4d89; font-size: 3rem; margin-left: 2cm;">
      Image Compressor 
      <span style="font-size: 1rem; color: #1b4d89; opacity: 0.75;">by S4RaP</span>
    </h2>
      <br>
    <!-- <p style="width: 8cm; margin-left: 7.5cm; word-wrap: break-word; text-align: left; font-size: 12.5px;">
      <i>Website yang dibuat untuk melatih kesabaran pengguna. Oleh karena itu, jangan heran apabila waktu kompresi yang dibutuhkan cukup lama </i>
    </p> -->
    <!-- <h3>Website ini dibuat untuk melatih kesabaran pengguna!</h3>
    <h5>Oleh karena itu, jangan heran apabila waktu kompresi yang dibutuhkan cukup lama</h5> -->


    <!-- COBA COBA LEE -->
  <div id = "form-part">
    <form method="post" action="/" enctype="multipart/form-data" id = "main-form" onsubmit= "resultShow()">
      <input type="file" name="file" class="form-control" autocomplete="off" id = "file" accept = ".png, .jpg, .jpeg, .svg"required >
      <br>
      <input type="range" min="0" max="100" value="0" class="compressionrate"  name = "rate" id = "reportCompression">
      <p>Compression Rate : <span id="rateShow"></span> %</p>

      <!-- DESIGN SLIDER -->
      <!-- <div class="container">
  
        <div class="range-slider">
          <span id="rs-bullet" class="rs-label">0</span>
          <input id="rs-range-line" class="rs-range" type="range" value="0" min="0" max="200">
          
        </div>
        
        <div class="box-minmax">
          <span>0</span><span>200</span>
        </div>
        
      </div> -->

    <p>
        <input type="submit" value="Submit" class="btn btn-info" id = "submit-button">
    </p>
    </form>
  </div>


    {% if text %}
      <h2>{{ text }} </h2>
      <h3>Pixel difference percentage : <span style="font-weight: bold;">{{ percent }}%</span></h3>
    {% endif %}

    {% if filename %}
      <button id = "show-button">Toggle Show Result</button>
    {% endif %}
    <div id="compression-result">
      <div class="row">
        <div class="column">
          <h4>Original</h4>
        </div>
        <div class="column">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <h4>{{ message }}</h4>
            {% endfor %}
          {% endif %}
        {% endwith %}
          <h1><span id = "perc"></span></h1>
        </div>
      </div>
      
      <div class="row-image">
        <div class="column-image">
            <img src="data:image/png;base64,{{ basename }}" style="width: 75%;" alt = "Before" id = "before-image">
        </div>
        <div class="column-image">
            <img src="data:image/png;base64,{{ filename }}" style="width: 75%;" alt = "After" id = "after-image">
        </div>
      </div>
    </div>

    {% if filename %}
      <div id = "download-button">
        <button id = "download">Download Result</button>
      </div>
    {% endif %}

      <div id = "about-us" class="about-us">
        <h1 style="margin: 5cm 0 3cm 0; font-weight: lighter;color: #1b4d89;">About Us</h1>

        <div class="row-ab top" data-aos="fade-right">
          <div class="column-ab">
            <img src="{{url_for('static', filename='./assets/saul.jpg') }}" alt="no" width="350">
          </div>
          <div class="column-ab">
            <h1 style="font-size: 3rem;">Saul Sayers</h1>
            <p>Some text..</p>
          </div>
        </div> 

        <br><br>

        <div class="row-ab mid" data-aos="fade-left">
          <div class="column-ab">
            <h1 style="font-size: 3rem;">Patrick Amadeus</h1>
            <h3>NIM : 13520109</h3>
            <p>Kelas : 02</p>
            <p>"Lawan kata dari cepat adalah website ini"</p>
          </div>
          <div class="column-ab">
            <img src="{{url_for('static', filename='./assets/patrick.jpg') }}" alt="no" width="350">
          </div>
        </div>

        <br><br>

        <div class="row-ab top" data-aos="fade-right">
          <div class="column-ab">
            <img src="{{url_for('static', filename='./assets/rania.jpg') }}" alt="no" width="400">
          </div>
          <div class="column-ab">
            <h1 style="font-size: 3rem;">Rania Dwi Fadhilah</h1>
            <h3>NIM : 13520142</h3>
            <p>Kelas : 03</p>
            <p>"Webnya bagus sekali! sangat recommended untuk mengkompres gambar!"</p>
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>

      <a href="#container" id = "button-about-us">⟪  Back To top  ⟫</a>

      <br>
      <br>


    <!-- JS SCRIPT -->
    <script src="{{url_for('static', filename='index.js') }}"></script>
    <script src="{{url_for('static', filename='FileSaver.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script>AOS.init();</script>
    <script>
      var slider = document.getElementById("reportCompression");
      var output = document.getElementById("rateShow");
      output.innerHTML = slider.value ; 

      slider.oninput = function() {
        output.innerHTML = this.value;
        }
      
      $(".button-about-us").click(function() {
      $('html,body').animate({
        scrollTop: $(".about-us").offset().top},
        'slow');
        });
  </script>
  </body>

  <!-- Footer -->
  <footer>
    <div style="font-size: 0.75rem;">Saul Sayers, Patrick Amadeus Irawan, Rania Dwi Fadhilah</div>
    <div style="font: size 1rem;"><strong>© Algeo20094 2021</strong></div>
  </footer>
</html>
